body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
.orange-color{
    color: orangered;
}
h1{
    font-size: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    border-radius: 10px;
    padding: 8px 35px;
    color: papayawhip;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    margin: 0;
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    margin: 0;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: right;
}
.experience-add{
    box-shadow: 10px 10px 40px gray;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
    border-radius: 10px;
}
h2{
    font-size: 40px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#border-one{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, yellow);
    border-image-slice: 1;
}
.margin{
    margin-bottom: 100px;
}
footer p{
    text-align: center;
}